.box textarea::-webkit-scrollbar {
	background: none;
	width: 16px;
	height: 16px;
	cursor: default;
  }
.box textarea::-webkit-scrollbar-corner {
	background: transparent;
  }
.box textarea::-webkit-scrollbar-thumb {
	border-width: 0px 4px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0);
	border-image: initial;
	border-radius: 9px / 4px;
	box-shadow: #0f031d 0px 0px 0px 1px inset, hsl(267, 20%, 35%) 0px 0px 0px 4px inset;
	cursor: pointer;
	user-select: none;
  }
.box textarea::-webkit-scrollbar-track-piece {
	margin: 4px 0px;
  }

.save button:hover {
	background-color: #a880d9;
}
.save button:active {
	background-color: #916BBFdd;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	} 100% {
		transform: rotate(360deg);
	}
  }

.save div::after {
	filter: blur(10px);
}

.save div::after, .save div::before {
	width: 7vw;
	height: 7vw;
	position: absolute;
	top: -2.5vw;
	content: "";
	background: conic-gradient(#e2ccff, transparent, transparent, transparent);
	animation: rotate 5s linear infinite;
}