  .file:hover {
      background-color: hsla(248, 18%, 22%, 1);
      transform: scale(1.005);
      cursor: pointer;
  }

  ::-webkit-scrollbar {
      background: none;
      width: 16px;
      height: 16px;
  }

  ::-webkit-scrollbar-corner {
      background: transparent;
  }

  ::-webkit-scrollbar-thumb {
      border-width: 0px 4px;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0);
      border-image: initial;
      border-radius: 9px / 4px;
      box-shadow: #0f031d 0px 0px 0px 1px inset, #2f2649 0px 0px 0px 4px inset;
  }

  ::-webkit-scrollbar-track-piece {
      margin: 4px 0px;
  }

  .back:hover {
      transform: scale(1.05);
      background-color: #ffffff10;
  }